tqdm~=4.67.1
joblib~=1.5.1
protobuf~=5.29.3
requests~=2.32.3
pandas~=2.2.3
numpy~=2.2.6
geopandas~=1.0.1
openmatrix~=0.3.5.0
statsmodels~=0.14.4
shapely~=2.1.1
black
pyarrow
fastparquet
urllib3
google-cloud-storage
gcsfs